# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Ambientes virtuais
.venv/
venv/
env/

# Ferramentas
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Configuração local
.env

# Saídas do projeto
data/output/*
!data/output/.gitkeep

